<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akj.sns_project">


    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA.autofocus" />

    <application

        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/moverse_con3_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/moverse_con3_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.SNS_Project"
        tools:targetApi="31"
        >

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="google.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BoardActivity"></activity>
        <activity android:name=".activity.MypageActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.SignUpActivity"></activity>
        <activity android:name=".activity.PasswordResetActivity"></activity>
        <activity android:name=".activity.MemberInitActivity"></activity>
        <activity android:name=".activity.BasicActivity"></activity>
        <activity android:name=".activity.WritePostActivity"></activity>
        <activity android:name=".activity.GalleryActivity"></activity>
        <activity android:name=".activity.CameraActivity"></activity>
    </application>

</manifest>